<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>Angular</mat-panel-title>
            <mat-panel-description>
                Total Durations 8 hours
            </mat-panel-description>
        </mat-expansion-panel-header>
        <p>This is a panel content: Add Course</p>
        <mat-action-row>
            <button mat-button>Enroll</button>
        </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>Angular Material</mat-panel-title>
            <mat-panel-description>
                Total Durations 3 hours
            </mat-panel-description>
        </mat-expansion-panel-header>
        <p>This is a panel content: Add Course</p>
        <mat-action-row>
            <button mat-button>Enroll</button>
        </mat-action-row>
    </mat-expansion-panel>
</mat-accordion>

