<mat-grid-list cols="2" rowHeight="100px" gutterSize="10px">
    <mat-grid-tile rowspan="2">Tile 1</mat-grid-tile>
    <mat-grid-tile>Tile 2</mat-grid-tile>
    <mat-grid-tile>Tile 3</mat-grid-tile>
    <mat-grid-tile>Tile 4</mat-grid-tile>
</mat-grid-list>

<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>Angular</mat-panel-title>
        <mat-panel-description>
            Total Durations 8 hours
        </mat-panel-description>
    </mat-expansion-panel-header>
    <p>This is a panel content: Add Course</p>
    <mat-action-row>
        <button mat-button>Enroll</button>
    </mat-action-row>
</mat-expansion-panel>
